layout {
    pane edit="" size="70%"
    pane split_direction="vertical" {
        pane size="60%"
        pane command="git" {
            args "info"
        }
    }
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
}

