keybinds {
    normal {
        bind "Alt c" {
            Run "zellij" "setup" "--dump-config" {
                direction "Right"
            }
        }
        bind "Alt b" {
            Run "autobuild" {
                direction "Down"
            }
        }
        bind "Alt g" {
            Run "watch" "git" "info" {
                direction "Right"
            }
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

pane_frames false
serialize_pane_viewport true
mouse_mode false
copy_command "xclip -selection clipboard" // x11
session_serialization false
