default_layout "compact"
pane_frames false
mouse_mode false
session_serialization false

keybinds {
    normal {
        bind "Alt b" {
            Run "autobuild"
        }
        bind "Alt c" {
            Run "sh" "-c" "zellij setup --dump-config | less"
        }
        bind "Alt e" {
            Run "zellij" "edit" "."
        }
        bind "Alt g" {
            Run "watch" "git" "info"
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

theme "dracula"
themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
}
