layout {
    pane name="journal: user" size="70%" {
		command "journalctl"
	    args "--output=short-iso" "--no-hostname" "--follow" "--user"
	}
    pane name="journal: system" {
		command "journalctl"
	    args "--output=short-iso" "--no-hostname" "--follow" "--system"
	}
}
