#![enable(implicit_some)]
ThemeConfig (
    border_width: 1,
    margin: 5,
    workspace_margin: 2,
    default_border_color: "#774488",
    floating_border_color: "#aa88aa",
    focused_border_color: "#aa88dd",
)
